:root{
    --background-color: rgb(206, 245, 245);
    --mi-gradiente: linear-gradient(90deg, #FC466B 0%, #903ffb 100%);
    --roboto: font-family:'roboto','Segoe UI';
}

body{
    overflow-y: scroll;
}

.main_alumnos{
    display: flex;
    justify-content: center;
    
}

.main_no_visible{
    display: none;
}

.oculto{
    display: none;
}

.visible{
    display: table;
}

h1{
    text-align: center;
    margin-bottom: 20px;
}

h2{
    text-align: center;
    margin-bottom: 20px;

}

.table_tr:hover{
    /* background-color: rgb(142, 103, 233); */
}


tbody tr{
    background-color: rgb(255, 255, 255)   ;
}

tbody tr:hover{
    /* background-color: rgb(225, 240, 253) !important; */
    background: linear-gradient(90deg, #fc466a 0%, #903ffb60 100%);
    color: aliceblue;
    

}

tbody tr:hover .td_actions3{
    display: table-cell;
   
}

.table_header{
    /* background-color: rgb(237, 253, 253); */
    background: var(--mi-gradiente);
    border: 0;

    
    border-top: 1px solid #ccc;
    border-left:1px solid #ccc ;
    border-right: 1px solid #ccc;

    /* border-top-left-radius: 15px;
    border-top-right-radius: 15px; */
    border-radius: 15px;
    
}

.table_th{
    
    border:0;
    
    text-align: start;

    padding-right: 20px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

    font-weight: 400;

    color: white;
    font-size: 20px;
    white-space: nowrap;
    

}

.table_th_final{
    
    border:0;
    


    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

    font-weight: 400;

    font-size: 20px;
    white-space: nowrap;
    color: white;

}

.td_name{
    border: 0;
    /* background-color: white; */
    /* background-color: red !important;  */
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1 ;
    border-left: 1px solid #f1f1f1;
     padding-left:20px;
    /* padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px; */
    text-align: start;

    font-weight: 450;

    white-space: nowrap;
}

.td_name2{
    border: 0;
    /* background-color: white; */

   border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1 ;
    /* border-left: 1px solid #f1f1f1; */
    padding-left:15px;
   /*  padding-right: 85px;
    padding-top: 10px;
    padding-bottom: 10px; */
    text-align: start;
    font-weight: 450;
    white-space: nowrap;
}

.td_data{
    border: 0;
    /* background-color: white; */

    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1 ;
    /* border-left: 1px solid #f1f1f1; */
    padding-left:10px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: start;
    font-weight: 300;

    white-space: nowrap;

}

.td_dir{
    
    border: 0;
    /* background-color: white; */

    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1 ;
    /* border-left: 1px solid #f1f1f1; */
    padding-left:0px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

    font-weight: 300;

    white-space: nowrap;

}

.td_dir2{
    border: 0;
    /* background-color: white; */

    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1 ;
    /* border-left: 1px solid #f1f1f1; */
    padding-left:10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

    font-weight: 300;

    white-space: nowrap;

}

.td_actions{
    text-align: center;
    justify-content: space-around;
    border: 0;
    /* background-color: white; */

    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1 ;
    /* border-right: 1px solid #f1f1f1; */
    /* padding-left:10px; */
    /* padding-right: 0px;
    padding-top: 15px;
    padding-bottom: 15px; */

    

    font-weight: 300;
}

.td_actions3{
    display: none;
    text-align: center;
    justify-content: space-around;
    border: 0;
    /* background-color: white; */

    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1 ;
    /* border-right: 1px solid #f1f1f1; */
    /* padding-left:10px; */
    /* padding-right: 0px;
    padding-top: 15px;
    padding-bottom: 15px; */

    

    font-weight: 300;
}

.td_actions2{
    display: flex;
    justify-content: space-around;
    border: 0;
    /* background-color: white; */

    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1 ;
    border-right: 1px solid #f1f1f1;
    /* padding-left:10px; */
    padding-right: 0px;
    /* padding-top: 15px;
    padding-bottom: 15px; */

    

    font-weight: 300;
}

.search_container{
    /* width:700px; */
    /* display: flex;  */
    /* justify-content: center; */
}

.search_block{ 
    
    max-width: 70%;
    

    margin-left: 35px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #ccc;
    border-radius: 15px;
    margin-bottom: 15px;
}

.search_line{
    border-radius: 20px;
    width: 95%;
    margin-left: 25px;
}

.search_row{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.search_bar{
    /* --background-color: rgb(206, 245, 245); */
    width:30%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #ccc; 
    gap:20px

}

.search_bar::placeholder{
    text-align: left;

    font-family: var(--roboto);
    font-size: 1rem;
    /* padding:15px ; */
}

.search_bar:focus { 
    font-size: 1rem;
    font-family: 'roboto';
}

#filtros{
    max-width: 100px;
    margin: 15px;
    border-radius: 15px;
    background: var(--mi-gradiente);
    
    /* background-attachment:fixed; */
    /* background: linear-gradient(90deg, #3F2B96 0%, #A8C0FF 100%); */
    /* background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%); */
    /* background-color:var(--background-color); */
    /* background:linear-gradient(90deg, #4b6cb7 0%, #182848 100%);

    background-attachment: fixed; */

    color: rgb(240, 229, 229);
    
}



.search_form{
    width: 100%;
}

.option{
    border-radius: 15px;
    padding-left: 25px;
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
}

title{
    width: 850px;
}
















@media  (max-width:600px) {
    .main_alumnos{
        max-width: 500px;
        
        /* background-color: #3F5EFB; */

    }
    .info_table{
        max-width: 200px;
        width: 200px;
    }
    thead{
        padding: 0;
        margin: 0;
        
    }
    .table_th{
    
        border:0;
    
        text-align: start;

        padding-right: 0px;
        padding-left: 0px;

        font-weight: 400;

        color: white;
        font-size: 1rem;
        white-space: nowrap;
    }
        .td_name{
        border: 0;
        /* background-color: white; */
        /* background-color: red !important;  */
        border-top: 1px solid #f1f1f1;
        border-bottom: 1px solid #f1f1f1 ;
        border-left: 1px solid #f1f1f1;
        padding-left:0px;
        /* padding-right: 50px;
        /* padding-top: 5px; */
        padding-bottom: 5px;
        text-align: start;

        font-weight: 450;

        white-space: nowrap;
    }

    .td_name2{
        border: 0;
        /* background-color: white; */

        border-top: 1px solid #f1f1f1;
        border-bottom: 1px solid #f1f1f1 ;
        /* border-left: 1px solid #f1f1f1; */
        /* padding-left:15px; */
    /*  padding-right: 85px;*/
        padding-top: 15px; 
        padding-bottom: 15px;  
        text-align: start;
        font-weight: 450;
        white-space: nowrap;
    }

    .td_data{
        border: 0;
        /* background-color: white; */

        border-top: 1px solid #f1f1f1;
        border-bottom: 1px solid #f1f1f1 ;
        /* border-left: 1px solid #f1f1f1; */
        /* padding-left:10px; */
        /* padding-right: 5px; */
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: start;
        font-weight: 300;

        white-space: nowrap;

    }

    .td_dir{
        
        border: 0;
        /* background-color: white; */

        border-top: 1px solid #f1f1f1;
        border-bottom: 1px solid #f1f1f1 ;
        /* border-left: 1px solid #f1f1f1; */
        /* padding-left:0px; */
        /* padding-right: 10px; */
        padding-top: 10px;
        padding-bottom: 10px;

        font-weight: 300;

        white-space: nowrap;

    }

    .td_dir2{
        border: 0;
        /* background-color: white; */

        border-top: 1px solid #f1f1f1;
        border-bottom: 1px solid #f1f1f1 ;
        /* border-left: 1px solid #f1f1f1; */
        /* padding-left:10px; */
        /* padding-right: 10px; */
        padding-top: 10px;
        padding-bottom: 10px;

        font-weight: 300;

        white-space: nowrap;

    }

    .td_actions{
        text-align: center;
        justify-content: space-around;
        border: 0;
        /* background-color: white; */

        border-top: 1px solid #f1f1f1;
        border-bottom: 1px solid #f1f1f1 ;
        /* border-right: 1px solid #f1f1f1; */
        /* padding-left:10px; */
        /* padding-right: 0px;
        padding-top: 15px;
        padding-bottom: 15px; */

        

        font-weight: 300;
    }

    .td_actions2{
        display: flex;
        justify-content: space-around;
        border: 0;
        /* background-color: white; */

        border-top: 1px solid #f1f1f1;
        border-bottom: 1px solid #f1f1f1 ;
        border-right: 1px solid #f1f1f1;
        /* padding-left:10px; */
        padding-right: 0px;
        /* padding-top: 15px;
        padding-bottom: 15px; */

        

        font-weight: 300;
    }

}

.enlinea{
    display: inline;
}


.svg{
    height: 64px;
    width: 64px;
}

.svg_lite{
    height: 32px;
    width: 32px;
    vertical-align: middle;
}

.svg_lite2{
    height: 24px;
    width: 24px;
    vertical-align: middle;
}

.submit-button{
    background-color: #8f271b00;
    border: 0px;
}

.submit-button:hover{
    cursor: pointer;
    opacity: 75%;
    /* text-decoration: underline; */
    -webkit-text-stroke: #f12711;
}








.modify-alumno{
    background-color: #f8f7f7;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.registro-form{
    display: flex;
    justify-content: center;
    position: absolute;
    align-self: center;
    margin-bottom: 70px;
    margin-left: 400px;

}

.new-form{
    margin-top: 15px;
    
    margin-left: 35px;
    /* padding: 15px; */
    padding-top: 10px;
    background-color: rgb(255, 239, 239);
    /* background-color: rgb(255, 250, 250); */
    border-bottom: 2px solid #ccc;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    /* border-radius:15px ; */
    max-width:  1000px;
}

.form_bottom{
    background-color: rgb(212, 241, 241);
    padding: 20px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;

    display: flex;
    justify-content: end;
    
}

label{
    /* display: flex;
    flex-direction: column; */
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: 450;
}

h3{
    padding-top: 10px;
    padding-left: 20px;
    font-size: 1.3rem;
    font-weight: 600;
}

.fila{  /* CADA COLUMNA VERTICAL */
    display: flex;
    padding: 20px;
        
}

.campoo{ /* CADA CAMPO(IMPUT) INDIVIDUAL */
    display: flex;
    flex-direction: column;

    padding-right: 35px;
}

.input-modify{
    width: 350px;
    padding: 0.6rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: #f1f0f0;

    font-family: 'roboto';
    font-size: 1rem;
}

.input-modify::placeholder{
    font-family: 'roboto';
}

.boton_enviar{
    margin-left: 5px;
    /* background: #0f1fac; */
    background-color: #7c3aed;

    border: 0;
    border-radius:5px;

    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    font-size: 1rem;
    font-family: var(--roboto);
    font-weight: 500;
    color: #f0efef;
}

.boton_registrar{
    margin-left: 5px;
    background: #6773e2;

    border: 0;
    border-radius:5px;

    padding-left: 0.6rem;
    padding-right: 0.6rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;

    font-size: 0.8rem;
    font-family: var(--font-family);
    color: #f0efef;
    white-space: nowrap;
}

.boton_volver{  
    margin-right: 5px;

    background: #ffffff;

    border: 1px solid #ccc;
    border-radius:5px;

    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;

    font-size: 1rem;
    font-family: var(--font-family);
    color: #f0efef;
    font-weight: 500;
}

.cancel_link{
    font-size: 1rem;
    font-family: var(--font-family);
    color: #000000;
    font-weight: 500;
}

.add_link{
    font-size: 1rem;
    font-family: var(--roboto);
    color: #ffffff;
    font-weight: 500;
    text-decoration: none;
}

.cancel_link:hover{
    text-decoration: none;
}


.boton_enviar:hover{
    /* opacity: 75%; */
    cursor: pointer;
    /* text-decoration: none; */
    box-shadow: 0 0 10px#020a7e;
}

input[type="search"]{
    background:url(../../../assets/svg/search.svg);
    background-position:left;

    /* transform: translateX(5px); */
    background-size: 18px;
    background-position-x: 10px;
    padding-left: 35px;
    background-repeat: no-repeat;
    /* background-color: rgb(237, 253, 253); */
    
}

.search_bar:focus{
    font-family: var(--roboto);

}

.input-modify::placeholder{
    font-family: var(--roboto);
}



.boton_volver:hover{
    /* opacity: 75%; */
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0 0 10px#000000;
}

body{
    overflow-y: scroll;
}













@media (max-width:992px) {  /*TABLETS */
    .table_header{
    /* background-color: rgb(237, 253, 253); */
    background: linear-gradient(90deg, #FC466B 0%, #903ffb 100%);
    border: 0;

    
    border-top: 1px solid #ccc;
    border-left:1px solid #ccc ;
    border-right: 1px solid #ccc;

    /* border-top-left-radius: 15px;
    border-top-right-radius: 15px; */
    border-radius: 15px;
    
}

.table_th{
    
    border:0;
    
    text-align: start;

    padding-right: 10px;
    padding-left: 10px;
    /* padding-top: 5px; */
    /* padding-bottom: 5px; */

    font-weight: 400;

    color: white;
    font-size: 20px;
    white-space: nowrap;
    

}

.table_th_final{
    
    border:0;
    


    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

    font-weight: 400;

    font-size: 20px;
    white-space: nowrap;
    color: white;

}

.td_name{
    border: 0;
    /* background-color: white; */
    /* background-color: red !important;  */
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1 ;
    border-left: 1px solid #f1f1f1;
     padding-left:20px;
    /* padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px; */
    text-align: start;

    font-weight: 450;

    white-space: nowrap;
}

.td_name2{
    border: 0;
    /* background-color: white; */

   border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1 ;
    /* border-left: 1px solid #f1f1f1; */
    padding-left:15px;
   /*  padding-right: 85px;
    padding-top: 10px;
    padding-bottom: 10px; */
    text-align: start;
    font-weight: 450;
    white-space: nowrap;
}

.td_data{
    border: 0;
    /* background-color: white; */

    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1 ;
    /* border-left: 1px solid #f1f1f1; */
    padding-left:10px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: start;
    font-weight: 300;

    white-space: nowrap;

}

.td_dir{
    
    border: 0;
    /* background-color: white; */

    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1 ;
    /* border-left: 1px solid #f1f1f1; */
    padding-left:0px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

    font-weight: 300;

    white-space: nowrap;

}

.td_dir2{
    border: 0;
    /* background-color: white; */

    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1 ;
    /* border-left: 1px solid #f1f1f1; */
    padding-left:10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

    font-weight: 300;

    white-space: nowrap;

}

.td_actions{
    text-align: center;
    justify-content: space-around;
    border: 0;
    /* background-color: white; */

    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1 ;
    /* border-right: 1px solid #f1f1f1; */
    /* padding-left:10px; */
    /* padding-right: 0px;
    padding-top: 15px;
    padding-bottom: 15px; */

    

    font-weight: 300;
}

.td_actions2{
    display: flex;
    justify-content: space-around;
    border: 0;
    /* background-color: white; */

    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1 ;
    border-right: 1px solid #f1f1f1;
    /* padding-left:10px; */
    padding-right: 0px;
    /* padding-top: 15px;
    padding-bottom: 15px; */

    

    font-weight: 300;
}
}

/* @media (min-width:1024px) {
    
} */