/* Fondo oscuro */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  padding-top: 60px;
}

/* Caja del modal */
.modal-content {
  background: #fff;
  margin: auto;
  padding: 25px 30px;
  border-radius: 14px;
  height: 90%;
  width: 90%;
  max-width: 700px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.25s ease;
  overflow-y: scroll;

}

/* Animación */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.95);
  }
}

/* Botón cerrar */
.cerrar {
  float: right;
  font-size: 26px;
  font-weight: bold;
  cursor: pointer;
}

.cerrar:hover {
  color: #007bff;
}

/* Títulos */f
.modal-content h2 {
  margin-bottom: 20px;
  color: #007bff;
}

/* Inputs */
.modal-content form div {
  margin-bottom: 15px;
}

.modal-content input,
.modal-content select, .modal-content textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #bbb;
  border-radius: 8px;
  font-size: 15px;
}

.modal-content input:focus,
.modal-content select:focus {
  border-color: #007bff;
  outline: none;
}

/* Botón guardar */
.btn-submit {
  margin-top: 15px;
  width: 100%;
  background: #007bff;
  color: white;
  padding: 12px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.btn-submit:hover {
  background: #005fcc;
}

/* Botón principal */
.btn-primary {
  padding: 12px 20px;
  border: none;
  background: #007bff;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

.btn-primary:hover {
  background: #005fcc;
}

/* Botón guardar */
.btn-cancel {
  margin-top: 15px;
  width: 100%;
  background: #f0f0f0;
  color: rgb(4, 4, 4);
  padding: 12px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.add_link{

}

/* FAQ */

.faq-content {
  background: #fff;
  margin: auto;
  padding: 25px 30px;
  border-radius: 14px;
  height: 50%;
  width: 90%;
  max-width: 700px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  animation: fadeIn 1s ease;
  overflow-y: scroll;

}

.fila_faq{
  display: flex !important;
  flex-direction: column;
}

.campo_faq{
  display: flex !important;
  align-items: center;
  justify-content: start;
  
}

.faq_text{
  margin-left: 5px;
  font-weight: 600;
}