table {
    border-collapse: collapse;
}

td,th {
    border:1px black solid;
}

.enlinea {
    display: inline;
}

.error {
    background-color: pink;
    color: red;
}

.correcto {
    background-color: lightgreen;
    color: green;
}
.pagination a  {
    padding: 5px 10px;
    border: 1px solid #ccc;
    text-decoration: none;
    margin: 2px
}
.pagination a.active  {
    background-color: #007bff;
    color: white;
}
