/* Fondo del modal */
.modal {
  display: block; /* Aparece autom치ticamente */
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(2px);
  padding-top: 60px;
}

/* Caja del contenido */
.modal-content {
  background: #fff;
  margin: auto;
  padding: 20px;
  width: 450px;
  border-radius: 12px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.3s ease;
}

/* Bot칩n cerrar */
.cerrar {
  float: right;
  font-size: 26px;
  cursor: pointer;
}

/* Inputs */
.modal-content input,
.modal-content select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

/* Bot칩n principal */
.btn-submit {
  width: 100%;
  padding: 10px;
  background: #1976d2;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn-submit:hover {
  background: #125ea4;
}

/* Bot칩n secundaria */
.btn-cancel {
  display: block;
  margin-top: 10px;
  text-align: center;
  color: #444;
  text-decoration: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
