table {
    border-collapse: collapse;
}

td,th {
    border:1px black solid;
}

.enlinea {
    display: inline;
}

.error {
    background-color: pink;
    color: red;
}

.correcto {
    background-color: lightgreen;
    color: green;
}